.centraliza{
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Centraliza apenas horizontalmente */
    padding: 0;
    text-align: center; /* Remove o padding, como solicitado */
}

input {
    width: 90%; /* Ajuste de largura dos inputs */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

input:focus {
    border-color: #FFD700; /* Cor da borda ao focar */
    outline: none;
}

.btn-go {
    background-color: #4CAF50; /* Cor do botão */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 5px; /* Margem entre os botões */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-go:hover {
    background-color: #45a049; /* Cor ao passar o mouse */
}