<br><br>
<i><b>{{mensagem}}</b></i>
<br><br>
<h4 class="empty-message" *ngIf="lista.length<=0">Produtos utilizados em uma raid, necessário farm para continuar, tente mais tarde</h4>

<div class="feature-products">
    <div *ngFor="let item of lista" class="product-item">
        <br><br>
        <h4>{{item.nome}}</h4>
        <img src="/{{item.codigo}}.jpg" class="product-image" alt="{{item.nome}}"> <!-- Adicione um alt -->
        <br>
        {{item.descritivo}}
        <br><br>
        R$ {{item.valor}}
        <button class="btn-go" (click)="verDetalhe(item)">Ver mais</button>
        <button class="btn-go" *ngIf="item.quantidade>0" (click)="adicionarItem(item)">Comprar</button>
    </div>
</div>
<app-notificacao></app-notificacao>
<footer>
    <!-- Rodapé do site -->
    <p>&copy; Alicia Abade e Caio Lima - 2024</p> <!-- Direitos autorais -->
</footer>

    